<div class="col-md-12 col-lg-6 p-2">
  <div class="card mt-3">
    <div class="card-header">
      <h5 class="card-title mb-0">{{ .name }}</h5>
      <div class="sub-title">
        <span><a href="{{ .organization.url }}" title="{{ .organization.name }}" target="_blank" rel="noopener">{{ .organization.name }}</a></span>
        <span class="ml-2">{{ .timeline }}</span>
      </div>
    </div>
    <div class="card-body">
      <p>{{ .courseOverview | markdownify }}</p>
    </div>
    <div class="card-footer">
      {{ if .certificateURL }}
        <a class="btn btn-outline-info ml-1 pl-2 mb-2" href="{{ .certificateURL }}" target="_blank" rel="noopener" role="button">{{  "view more"}}</a>
        {{ end }}      
      {{ if .certificateURL2 }}
        <a class="btn btn-outline-info ml-1 pl-2 mb-2" href="{{ .certificateURL2 }}" target="_blank" rel="noopener" role="button">{{  "view more"}}</a>
        {{ end }}
      {{ if .certificateURL3 }}        
        <a class="btn btn-outline-info ml-1 pl-2 mb-2" href="{{ .certificateURL3 }}" target="_blank" rel="noopener" role="button">{{  "view more"}}</a>
        {{ end }}
      {{ if .certificateURL4 }}
        <a class="btn btn-outline-info ml-1 pl-2 mb-2" href="{{ .certificateURL4 }}" target="_blank" rel="noopener" role="button">{{  "view more"}}</a>
        {{ end }}

    </div>
  </div>
</div>
