<div class="col-10 col-lg-8">
    <div class="experience-entry-heading">
        <h4 rel="noopener" style="color: #aa4e24">{{.publication.type}}</h4><br/>
        <!-- Total experience duration on a company is time between the starting date of the oldest position and ending date of most recent position -->
        {{ $oldestEntry := index (last 1 .entry) 0}}
        {{ $mostRecentEntry := index (first 1 .entry) 0}}
        <!-- Add company overview -->
    </div>
    <!-- Add the positions information -->
    
    <div class="positions">
    {{ range $index,$item:= .entry }}
        <h6 class="designation">{{ $item.title | markdownify }}{{ if $item.url }} doi: <a href="https://doi.org/{{ $item.url }}" target="_blank">{{ $item.url }} </a> {{ end }} </h6> <br />
        <!-- 
           <p class="p-1 text-justify">{{ $item.title | markdownify }}</p>
        -->
        <!-- Add the responsibilities handled at this position -->
        {{ if $item.abstract.show }}
            <h6 class="position">Abstract</h6>
            <p>{{ $item.abstract.text | markdownify }}</p><br />
        {{ end }}   
    {{ end }}
    </div>
</div>
